body {
  background-color: #75acc0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #66202a;
  font-size: 40px;
}

.btn1, .btn2, .btn3 {
  padding: 20px;
  border: 2px solid #66202a;
  border-radius: 50%;
  background-color: #e1b878;
  padding: 10px;
  margin: 2px;
  outline: none;
}

.scoresAndButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: none;
}

.highScoreHeading {
  width: 320px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #66202a;
}

.newGame {
  padding: 10px 0px;
  background-color: #e1b878;
  color: #66202a;
  font-size: 20px;
  border: 3px solid #66202a;
  border-radius: 5px;
}

.menu {
  display: flex;
}

li {
  padding: 0 10px;
  list-style: none;
}

.grid {
  margin: 0;
}

.game {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.counttimer {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.git {
  padding: 0 5px;
  color: black;
  width: 30px;
}

section {
  display: block;
}

.name {
  color: black;
  display: flex;
  padding: 2px;
  align-items: center;
}

.letters {
  color: #66202a;
  display: flex;
  align-items: center;
  padding: 2px;
}

.letters div {
  padding: 2px;
}

