body {
  background-color: #75acc0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #66202a;
  font-size: 40px;
}

.highScoreHeading {
  width: 200px;
}

.newGame {
  padding-top: 15px;
}

.menu {
  display: flex;
}

li {
  padding: 0 10px;
  list-style: none;
}

.grid {
  margin: 0;
}

.game {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.counttimer {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.git {
  padding: 0 5px;
  color: black;
  width: 30px;
}

section {
  display: block;
}
